html, body
{
    height: 100%;
    font-weight: normal;
    background: #efefef;
}
h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0}
h1.title { text-align: center }
h1.informasi { border-bottom: 1px solid #d9d9d9; display: block; margin-bottom: 8px; padding-bottom: 4px; }
a img {border: none;outline: none}
/*a, a:visited {color: #2682BF}*/
th a {color:#fff;text-decoration:none;font-size:9px}
.hidden-obj {display: none}
select { border: 1px inset #999; padding: 2px; min-width: 70px; }
input[type=button]:active, input[type=submit]:active { position:relative; top:1px; }
#image-home { position: fixed; top: 80px }
#jam { float: right;}

.tips {color: #ccc; font-style: italic; font-size: .9em}
.nama_barang {width: 30%}
.minitextarea { height: 50px; }
.arrow-left { background: url(../images/right-arrow.png) no-repeat; float: left; width: 34px; height: 45px; margin-top: 3%; }
.arrow-right { background: url(../images/left-arrow.png) no-repeat; float: left; width: 34px; height: 45px; margin-top: 3%; }
.content { padding: 5px; font-size: 12px;}
.information { background: url(../images/icons/warning.png) no-repeat left; height: 16px; padding-left: 17px; font-style: italic; }
@media screen and (min-width: 480px) {
    #loaddata { background: #efefef; width: 80%; float: right; height: 83%; overflow-y: auto; }
    #loading { position: fixed; width:100px; height:13px; padding:10px; z-index:9999; margin: 8% auto; left: 0; right: 0; top:0; padding-left: 35px; font-size: 12px; }
    #useractive { display: block; }
    #jam {position: fixed; top: 87px; right: 10px;}
    .show-hide {display: none; display: inline-block; position: fixed; right: 0; top: 33px;}
    .logoutbutton { position: relative;  background: #fff; color: #000; right: 0; top: 0; border-left: 1px dotted #ccc; border-bottom:  1px dotted #ccc; }
    .logoutbutton:hover { background: #999; cursor: pointer; }
    .logout { font-size: 10px; padding: 0px; position: absolute; top: 88px; left: 7px; }
    .logout:hover { cursor: pointer; }
    .mainribbon-min { height: 14%; width: 100%; top: 0; background: #b8d806 url('../images/header.png') no-repeat; }
    .main-menu-user { color:#fff; padding-top: 5px; width:100%; font-size:10px; position: fixed;}
    .menu-detail:hover { overflow-y: auto; }
    .menu-detail { overflow-y: hidden; background: #32373d; color: #000; width: 20%; float: left; height: 83%;}
    .menu-detail .leftmenu { display: block; margin: 0px;  border-bottom: 1px dotted #f5f5be; padding: 5px 5px 5px 5px; font-size: 13px; width: 96%; height: 16px;  }
    .menu-detail .leftmenu:hover { background: #fcfcd8; cursor: pointer; font-size: 13px; }
    .menu-detail .leftmenu img { width: 20px; }
    .menu-root-left { position: fixed; top: 80px; width: 20%; height: 20px; left: 0; border-right: 1px solid #e2e100; padding: 5px 0px; }
    .menu-root { position: fixed; top: 88px; width: 80%; float: right; right: 0; }
    .menu-root span { font-size: 13px; color: #000; height: 32px; background: #edec43; padding: 7px 10px;}
    .menu-root span:hover { color: #f4f4f4; cursor: pointer; color: #006a9c; background: #f4f4f4; padding: 8px 10px; }

}
@media screen and (min-width: 1200px) {
    #loaddata { background: #efefef; width: 80%; float: right; height: 86%; overflow-y: auto; }
    #loading { position: fixed; width:100px; height:13px; padding:10px; z-index:9999; margin: 7% auto; left: 0; right: 0; top:0; padding-left: 35px; font-size: 12px; }
    #useractive { display: block; }
    #jam {position: fixed; top: 87px; right: 10px;}
    .show-hide {display: none; display: inline-block; position: fixed; right: 0; top: 33px;}
    .logoutbutton { position: relative;  background: #fff; color: #000; right: 0; top: 0; border-left: 1px dotted #ccc; border-bottom:  1px dotted #ccc; }
    .logoutbutton:hover { background: #999; cursor: pointer; }
    .logout { font-size: 10px; padding: 0px; position: absolute; top: 88px; left: 7px; }
    .logout:hover { cursor: pointer; }
    .mainribbon-min { 
        height: 14%; width: 100%; top: 0;
        background: url(../images/header.png) no-repat;
    }
    .main-menu-user { color:#fff; padding-top: 5px; width:100%; font-size:10px; position: fixed;}
    .menu-detail:hover { overflow-y: auto; }
    .menu-detail { overflow-y: hidden; background: #32373d; color: #000; width: 20%; float: left; height: 86%;}
    .menu-detail .leftmenu { display: block; margin: 0px;  border-bottom: 1px dotted #f5f5be; padding: 5px 5px 5px 5px; font-size: 13px; width: 96%; height: 16px;  }
    .menu-detail .leftmenu:hover { background: #fcfcd8; cursor: pointer; font-size: 13px; }
    .menu-detail .leftmenu img { width: 20px; }
    .menu-root-left { position: fixed; top: 80px; width: 20%; height: 20px; left: 0; border-right: 1px solid #e2e100; padding: 5px 0px; }
    .menu-root { position: fixed; top: 88px; width: 80%; float: right; right: 0; }
    .menu-root span { font-size: 13px; color: #000; height: 32px; background: #edec43; padding: 7px 10px;}
    .menu-root span:hover { color: #f4f4f4; cursor: pointer; color: #006a9c; background: #f4f4f4; padding: 8px 10px; }

}
/*b8d806*/
.info-user { display: inline-block; padding: 10px 0px; color: #fff; width: 100%; }
.info-user a { color: #edea2b; }
.info-user a:hover { color: #fff; }
.info-user span { color: #289ad9; }
.content-menu { width: 250px; background: url(../images/backgeround.jpg) no-repeat right center; height: 400px; -webkit-border-radius: 3px; -moz-border-radius: 3px; position: fixed; z-index: 999999; bottom: 25px; padding: 10px; border: 1px solid #000; }
.content-icon { min-height: 390px; width: 190px; background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; max-height: 390px;  opacity:0.9; margin-top: 5px;  overflow-x: hidden; overflow-y: auto;  }
.content-menu a { font-size: 11px; display: inline-block; padding: 5px 0px 5px 0px; color: #333; width: 190px; }
.content-menu a:hover { font-size: 11px; background: #f4f4f4; padding: 5px 0px 5px 0px; -webkit-border-radius: 3px; }
.content-menu img { margin-right: 5px; }
.data-input fieldset { margin-top: 5px; padding-top: 20px; }
.data-input fieldset legend { display: none; }
.data-input button,.data-input input,.data-input select {margin: .3em 5px 0 0 }
.data-input textarea { height: 40px; float: left; width: 250px; border: 1px inset #CCCCCC; padding:3px; margin: 5px 5px 0 0; font: tahoma,arial lighter !important}
.data-input .filter-predicate {min-width: 150px;width: 253px;}
.data-input .filter-values {min-width: 150px;}
.data-input label {color: #000; clear: both; display: block; float: left; font-size: 12px; line-height: 1.5em; padding: .5em .5em 0; width: 11.5em; white-space: nowrap;}
.data-input input[type=text], .data-input input[type=radio], .data-input input[type=submit], .data-input input[type=checkbox], .data-input input[type=button], .data-input input[type=reset], .data-input input[type=textarea], .data-input select, .data-input button {float: left; }
.data-input input[type=text] { font-size: 12px; }
.data-input .mini {min-width: 2em;}
.data-input .mini-select {min-width: 10em;padding: 1px;margin-left: 5px;white-space: nowrap;}
.data-input .mini-select2 {min-width: 22.5em;padding: 1px;margin-left: 10px;white-space: nowrap;}
.data-input .page-row {min-width: 2em;display: block;}
.data-input .field-title {clear: both;display: block;float: left;line-height: 1.1em; padding: .7em .0em 0;width: 12em;white-space: nowrap;}
.data-input .blocked {display: block;padding-right: 2.4em;}
.data-input span.label {float: left; margin: 7px 10px 4px 2px; font-size: 12px; padding-left: 0px;}
.data-input small { float: left; margin: 3px 10px 4px 0px; font-weight: normal; font-size: 11px; padding-left: 3px;}
.data-input .field-group {border: none;padding: 0;}
.data-input .field-group input {min-width: 1em;}
.data-input .field-group legend {clear: both;display: block;float: left;font-weight: normal;padding: .35em .5em .1em; width: 12em; }
.data-input .field-group .tanggal {font-weight: normal;width: 8.7em;margin-right: 1em;}
.data-input .field-group .tgl {font-weight: normal; width: 7.5em; margin-right: 1em;}
.data-input .field-group .small-input {font-weight: normal; width: 3em; margin-right: 5px;}
.data-input .field-group .span-normal{ padding-top: 5px;margin-right: 5px}
.data-input .field-group .datepicker-input {font-weight: normal; width: 7.5em; margin-right: 1em;}
.data-input .field-group .umur {font-weight: normal; width: 4.7em;}
.data-input .info {color: #666;float: left ;padding: 1em .2em 0;}
.data-input .inline-title {clear: none;width: auto;}
.data-input .inline-value {float: left;}
.data-input .field-option {clear: none; display: inline; float: none; margin-right: 1em;}
.data-input .input-process {border: none; clear: both; float: left; padding-left: 12em; border: none; left: 100px;}
.data-input .field-value {line-height: 1.1em; padding: .7em .5em 0 0;}
.data-input .special { margin-top: 11px; }

/* --Datalist-- */
.data-list { 
    background-color:#FFFFFF;
    border:1px solid #D6D5D3;
    color:#666666;
    font-size:12px;
    margin:0.3em 5px 5px 2px;
    overflow:auto;
    padding:7px 7px 20px;
    width:98%;
}
.data-list .title {color:#003399}
.data-list .active {background:url(../images/icons/aktive.ico) no-repeat center;background:12px;padding:6px;}
/*.add{font:11px tahoma, arial,verdana; border: 1px solid #ccc; padding:5px 8px 5px 18px; margin: 13px 5px 13px 0; text-decoration:none; background: url(../images/icons/add.png) left no-repeat; color: #666; cursor:pointer;}*/
.data-list .aksi {text-align: center; width: 0.5em; white-space: nowrap}
.data-list .aksi a, .data-list .aksi a:visited {padding: 1px 1px 1px 19px; margin-left: .4em; font-size: .9em; text-indent: 1em; position: relative}
.data-list .aksi a small {position: absolute; top: 18px; left: -6px; padding: 7px 10px 3px 0; font-size: .8em; opacity: 0.8}
.data-list .aksi a:hover small {visibility: visible}
.data-list .aksi .edit {background: url('../images/icons/edit.png') no-repeat top; border: none; cursor: pointer; padding-bottom: 0px; width: 18px; height: 16px}
.data-list .aksi .edit:hover {background: url('../images/icons/edit.png') no-repeat bottom; border: none; cursor: pointer; padding-bottom: 0px; width: 18px; height: 16px}
.data-list .aksi .add {background: url('../images/icons/add.png') no-repeat 0 50%}
.data-list .aksi .delete {background: url('../images/icons/delete.png') no-repeat top; border: none; cursor: pointer; padding-bottom: 0px; border-radius: 3px;}
.data-list .aksi .delete:hover {background: url('../images/icons/delete.png') no-repeat bottom; cursor: pointer; padding-bottom: 0px; border-radius: 3px;}
.data-list .aksi .detail {background: url('../images/icons/search.png') no-repeat top; border: none; cursor: pointer; padding-bottom: 0px; border-radius: 3px; }
.data-list .aksi .detail:hover {background: url('../images/icons/search.png') no-repeat bottom; border: none; cursor: pointer; padding-top: 0px; border-radius: 3px;}
.data-list .aksi .reset {background: url('../images/icons/reset.png') no-repeat 0 50%}
.data-list .bolder {font-size: 12px;text-transform: capitalize}
.data-list .aksi .aktif {background:url(../images/icons/accept.png) no-repeat 0% 50%}
.data-list .aksi .nonaktif {background:url(../images/icons/cross.png) no-repeat 0 50%}
.data-list .even {background: #fff}
.data-list .even:hover {background: #d8fabd}
.data-list .group-history {background-color: #cccccc; display: block; width: 70%; padding:2px 10px 2px 10px;
                           cursor: pointer; color: #ffffff; margin-bottom: 4px}
.data-list .group-history:hover {background-color: #aaaaaa}
.data-list .no-active {background:url(../images/icons/non.ico) no-repeat center;background:12px;padding:6px}
.data-list .no-wrap {white-space:nowrap}
.data-list .odd {background: #ecf2f6;}
.data-list .odd:hover{background: #d8fabd}
.aksi .addition {background: url('../images/icons/add.png') no-repeat 0 50%; padding-left:18px;}
.sortable td .aksi { text-align: center; white-space: nowrap; }
.edit {background: url('../images/icons/edit.png') no-repeat top; border: none; cursor: pointer; padding: 1px 10px; border-radius: 3px;}
.edit:hover {background: url('../images/icons/edit.png') no-repeat bottom; border: none; cursor: pointer; padding-bottom: 1px; }
.delete {background: url('../images/icons/delete.png') no-repeat top; border: none; cursor: pointer; padding: 1px 10px; border-radius: 3px;}
.delete:hover {background: url('../images/icons/delete.png') no-repeat bottom; cursor: pointer; padding-bottom: 1px; border-radius: 3px;}
.detail {background: url('../images/icons/search.png') no-repeat top; border: none; cursor: pointer; padding-bottom: 0px; border-radius: 3px; }
.detail:hover {background: url('../images/icons/search.png') no-repeat bottom; border: none; cursor: pointer; padding-top: 0px; border-radius: 3px;}
.reset {background: url('../images/icons/reset.png') no-repeat 0 50%}
.noblock {padding:2px 5px 2px 5px; background: url(../images/ui-bg_gloss-wave_75_2191c0_500x100.png) center; border:1px solid #ccc; text-decoration: none; color: #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-right: 2px;}
.block {padding:2px 5px 2px 5px; background-color:#eee; border:1px solid #ccc; color:#444; -moz-border-radius: 5px; -webkit-border-radius: 5px; cursor: pointer; margin-right: 2px;}
.block:hover { padding:2px 5px 2px 5px; background: url(../images/ui-bg_gloss-wave_75_2191c0_500x100.png) center; color: #fff; }
.page-next {background:url(../images/next.png) no-repeat; padding:4px 25px 6px 10px; cursor:pointer;font-size:10px;}
.page-prev {background:url(../images/prev.png) no-repeat; padding:4px 14px 6px 25px; cursor:pointer;font-size:10px;}

/*Tabel Sorter*/
.sortable { border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none; border-spacing: 0; margin-bottom: 10px; }
.sortable th {background: #525866 url(../images/header-bg.gif); text-align:left; color:#cfdce7; border:1px solid #fff; border-right:none; white-space: nowrap;}
.sortable th.nosort h3 { text-align: center; }
.sortable th h3{font-size:10px; padding:4px 8px; font-weight: normal; cursor: pointer;}
.sortable td { padding: 5px 10px 5px 3px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1}
.sortable .head h3 {background:url(../images/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .desc, .sortable .asc {background: url(../images/header-selected-bg.gif)}
.sortable .desc h3 {background:url(../images/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .asc h3 {background:url(../images/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {color:#fff}
.sortable .evenrow td {background:#fff}
.sortable .oddrow td {background:#ecf2f6}
.sortable td.evenselected {background:#ecf2f6}
.sortable td.oddselected {background:#dce6ee}
.sortable thead tr .headerSortDown, table.sortable thead tr .headerSortUp {
    background: url(../images/header-selected-bg.gif);
}
.form-inputan td { padding-top: 0; padding-bottom: 0; height: 28px;}
/*print lanscape*/
.landscape { 
    width: 100%; 
    height: 100%; 
    margin: 0% 0% 0% 0%; filter: progid:DXImageTransform.Microsoft.BasicImage(Rotation=1); 
} 

.page {
    -webkit-transform: rotate(-90deg); -moz-transform:rotate(-90deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.detail {background: url('../images/icons/detail-icon.png') no-repeat top; border: none; cursor: pointer; padding-bottom: 5px; padding-left: 22px; border-radius: 3px;}

/*Print Area*/
.print-area {-webkit-print-color-adjust:exact;  width: 95%; margin: auto;  padding-left: 10px; margin-top: 10px;}
.print-area table td { font-size: 12px; }
.print-area .attrib { width: 150px; height: 100px; position: fixed; right: 10px; top: 50%; text-align: center; font-weight: bold; margin-right: 30px;}
.print-area .border { border-bottom: 1px solid #000; padding: 5px; }
.print-area .heading { text-transform: uppercase; text-align: center; font-size: 12px; }
.print-area .logo-wrapped { width: 100px; height: 200px; padding: 3px; text-align: center; color: #333; }
.print-area .logo-wrapped .logo { width: 100px; height: 100px;  position: fixed;}

.print-card {-webkit-print-color-adjust:exact; width: 8.5cm; height: 5.5cm; border: 1px solid #ccc; color: #000; background: #000; margin: 5px;}
.print-card center { color: #000; font-weight: bold; }
/*End of Print Area*/