* { font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 12px; }
.alert {color: #ae0000; border: 1px solid #ae0000; background: #ffcecd; padding: 5px; margin: 10px -35px !important; text-align: center; font-size: 11px;}
.body-login { margin: 30px 0px 0px 0px; background: #000 url(../images/background.jpg) no-repeat; font-size: 11px; }
.body-login .logo { background: url(../images/logo.png) no-repeat; width: 500px; height: 100px; margin-top: 3%; margin-left: 10%; margin-bottom: 5%; }
.body-login .informasi { color: #fff; margin-left: 10%; position: fixed;}
.body-login .informasi p { font-size: 18px; }
.body-login .informasi ul { list-style-type: none; }
.body-login .informasi ul li { font-size: 14px; line-height: 35px; }
.loading { position: absolute; margin-left: 100px; margin-top: 5px; display: none; background: url(../images/loading-page.gif) no-repeat; padding-left: 25px; height: 20px; }
.login-wrapper { color: #fff; position: fixed; right: 10%; width: 350px; }
.login-wrapper input[type=text], .login-wrapper input[type=password], .login-wrapper select { width: 270px; padding: 3px 5px; border: 1px solid #ccc; line-height: 21px; border-radius: 3px; }
.login-wrapper .introduce { font-size: 22px; border-bottom: 1px solid #666; padding-bottom: 20px; margin-bottom: 20px; }
.logo-key { background: url(../images/cpanel/password.png) no-repeat left; padding: 20px 30px 20px 10px; float: left; height: 80px; width: 30px; }
.login-body h1 { font-family: arial; font-size: 2em; color: #3366CC; letter-spacing: -1px }
.login-body .buttonsave { margin-left: 0; margin-top: 20px; padding: 5px 20px; border-radius: 3px; border: 1px solid #ccc; }
.login-footer { color: #fff; text-align: center; }
.login-footer a { color: #fff; text-decoration: none; }
.login-footer a:hover { color: #00CCFF; }
.login-button { background-image: url(../images/login-button.jpg); background-position: 100% -76px; width: 96px; height: 38px; border: 0px; }
.login-button:hover { background-position: 100% -38px; }
.icons {border: 0px solid #999999;padding: 0px;margin: 0px; height:13px; width:13px;}